@import url('https://fonts.googleapis.com/css2?family=Open+Sans:300,400,600');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#3e4d4e, #53a5cf);
  background-size: center;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

.logo-container {
  z-index: 999;
  position: fixed;
  display: block;
  text-align: center;
  width: 100%;
  height: 15%;
  background-color: #40595f;
}
.logo {
  max-width: 100%;
  max-height: 100%;
  margin-left: 250px;
  padding: 10px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.sidebar-container {
  background-color: transparent;
  width: 15%;
  height: 80%;
  position: fixed;
  margin-left: 1.5%;
  display: inline-flex;
  margin-top: 8%;
}

.sidebar {
  padding-top: 10%;
  width: 100%;
}
.pokedex {
  display: block;
  width: 80%;
  margin: 20px;
}

li {
  text-decoration: none;
  list-style: none;
}
.sidebar-pic {
  margin-left: 25%;
  width: 50%;
  position: absolute;
  bottom: 60px;
}
.copyright {
  bottom: 10px;
  position: absolute;
  margin-left: 8%;
  font-size: 1rem;
  color: rgb(205, 217, 226);
}

ul > a {
  text-decoration: none;
  list-style: none;
}
.sidelink {
  color: yellow;
  width: 100%;
  text-align: center;
  padding-top: 15%;
}
.search-button {
  display: block;
  margin-left: 10%;
  width: 100%;
  height: 2%;
  border: 3px solid #f0ce00;
  padding: 6.2px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #353695;
  font-weight: 200;
  font-family: 'pokemon';
  letter-spacing: 2px;
}

.thebutton {
  width: 50px;
  height: 33px;
  border: 1px solid #f0ce00;
  background: #f0ce00;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10%;
}
.search-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
button > img {
  width: 18px;
  margin-top: auto;
}
button {
  background-color: transparent;
  border: none;
}
.card-container {
  height: 75%;
  width: 80%;
  margin-right: 2%;
  margin-top: 9%;
  margin-bottom: 2.5%;
  float: right;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em;
  color: rgb(138, 130, 130);
  position: absoulute;
  z-index: 0;
}

.toggle-by-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grass {
  background: rgb(50, 213, 50);
}
.fire {
  background: rgb(242, 75, 63);
}
.water {
  background: rgb(72, 103, 205);
}
.bug {
  background: rgb(20, 124, 11);
}
.normal {
  background: rgb(137, 138, 137);
}
.poison {
  background: rgb(198, 151, 221);
}
.electric {
  background: rgb(228, 218, 80);
}
.ground {
  background: rgb(91, 85, 14);
}
.fairy {
  background: pink;
}
.fighting {
  background: rgb(220, 116, 46);
}
.psychic {
  background: rgb(92, 29, 143);
}
.rock {
  background: rgb(211, 177, 41);
}
.ice {
  background: rgb(40, 211, 208);
}
.dragon {
  background: rgb(76, 141, 173);
}

.card {
  width: 200px;
  height: 300px;
  border-radius: 20px;
}

.more {
  display: none;
}

.more:checked ~ .content {
  transform: rotateY(180deg);
}
.card .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  border-radius: 20px;
  color: #436a6b;
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.top-card {
  align-items: center;
  height: 50%;
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bottom-card {
  flex-direction: column;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.cardimg {
  height: 9rem;
  margin: auto;
}

.back {
  transform: rotateY(180deg);
  background-color: #fff;
  margin-top: -300px;
  border-radius: 20px;
}

.grass {
  background: rgb(50, 213, 50);
}

h3 {
  font-size: 1.4em;
  text-align: center;
  margin: 0;
  padding-top: 0.75rem;
}

.cardp {
  word-break: normal;
  text-align: center;
  padding: 0 0.5rem;
  font-size: 12px;
}

.button {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  height: 40px;
  cursor: pointer;
  width: 100%;
  background: rgb(235, 235, 235);
  color: rgb(68, 67, 67);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: rgba(213, 197, 197, 0.749);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

li .info {
  color: #757575;
  font-size: 0.75em;
  padding-right: 12px;
}

.name {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
}

.hp {
  position: absolute;
  top: 16.5%;
  left: 50%;
  width: 50%;
  height: 5px;
  background: linear-gradient(to right, #a2db95, #24ccaa);
  border-radius: 3px;
  transform: translate(-50%);
}

.stats {
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
}

.stats li {
  width: 30%;
  margin: 10px 0;
  padding: 0 2px;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  border-right: 1px solid #ccc;
}

.stats li:last-child {
  border-right: none;
}

.power-up {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  background: #e9f0e1;
}

.facts {
  height: 45%;
  max-width: 100%;
}

.split > div {
  font-size: 0.5rem;
}

.split > div > img {
  display: flex;
  width: 65%;
  margin: auto;
  justify-content: center;
}

h2,
h4 {
  display: flex;
  justify-content: center;
}

h2 {
  padding: 0.25rem;
  margin: 0;
}

h4 {
  padding-bottom: 0.25rem;
  margin: 0;
}

.weakness {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weakness > h2 {
  display: flex;
  align-items: center;
  height: 50%;
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #859ddf;
}
::-webkit-scrollbar-thumb:hover {
  background: #355cc9;
}

.filter-title {
  text-align: center;
  padding-top: 2rem;
  color: #8dbabc;
}
.switch-box {
  display: flex;
  margin-top: 10%;
}

.can-toggle *,
.can-toggle *:before,
.can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type='checkbox']:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}
.can-toggle input[type='checkbox']:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  transform: translate3d(0, 0, 0);
}
.can-toggle input[type='checkbox']:checked:focus ~ label .can-toggle__switch,
.can-toggle input[type='checkbox']:checked:hover ~ label .can-toggle__switch {
  background-color: #5fc054;
}
.can-toggle
  input[type='checkbox']:checked:focus
  ~ label
  .can-toggle__switch:after,
.can-toggle
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch:after {
  color: #47a43d;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #848484;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}
.can-toggle input[type='checkbox']:checked ~ label .can-toggle__switch:after {
  transform: translate3d(65px, 0, 0);
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.can-toggle.switch input[type='checkbox'][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
}
.can-toggle.switch input[type='checkbox']:focus ~ label .can-toggle__switch,
.can-toggle.switch input[type='checkbox']:hover ~ label .can-toggle__switch {
  background-color: #444;
}
.can-toggle.switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch:after,
.can-toggle.switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch:after {
  color: #2b2b2b;
}
.can-toggle.switch input[type='checkbox']:hover ~ label {
  color: #373737;
}

.can-toggle.switch label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.switch label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  background: #515151;
}
.can-toggle.switch label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.7);
}
.can-toggle.switch label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #444;
}
.can-toggle.switch
  input[type='checkbox']:focus
  ~ label
  .can-toggle__switch:after,
.can-toggle.switch
  input[type='checkbox']:hover
  ~ label
  .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.can-toggle.switch
  input[type='checkbox']:checked:focus
  ~ label
  .can-toggle__switch:after,
.can-toggle.switch
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.can-toggle.switch label {
  font-size: 13px;
}
.can-toggle.switch label .can-toggle__switch {
  height: 60px;
  border-radius: 60px;
}
.can-toggle.switch label .can-toggle__switch:before {
  font-size: 10px;
  line-height: 60px;
}
.can-toggle.switch label .can-toggle__switch:after {
  top: 2px;

  border-radius: 30px;
  width: 58px;
  line-height: 56px;
  font-size: 10px;
}
.can-toggle.switch label .can-toggle__switch:hover:after {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.can-toggle.grass-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/7/79/Dream_Pok%C3%A9_Ball_Sprite.png');
  background-size: cover;
}

.can-toggle.grass-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.grass-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: #69be28;
}

.can-toggle.fire-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/b/bf/Dream_Great_Ball_Sprite.png');
  background-size: cover;
}

.can-toggle.fire-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.fire-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(242, 75, 63);
}

.can-toggle.water-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/9/95/Dream_Master_Ball_Sprite.png');
  background-size: cover;
}

.can-toggle.water-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.water-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(35, 67, 172);
}

.can-toggle.bug-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/a/a8/Dream_Ultra_Ball_Sprite.png');
  background-size: cover;
}

.can-toggle.bug-type input[type='checkbox']:checked ~ label .can-toggle__switch,
.can-toggle.bug-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(12, 84, 5);
}

.can-toggle.normal-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/a/a8/Dream_Ultra_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.normal-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.normal-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(137, 138, 137);
}

.can-toggle.poison-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/1/15/Dream_Safari_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.poison-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.poison-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(198, 151, 221);
}

.can-toggle.electric-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/a/a0/Dream_Net_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.electric-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.electric-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(228, 218, 80);
}

.can-toggle.ground-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/8/8c/Dream_Nest_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.ground-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.ground-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(91, 85, 14);
}

.can-toggle.fighting-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/d/df/Dream_Repeat_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.fighting-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.fighting-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(220, 116, 46);
}

.can-toggle.fairy-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/f/f0/Dream_Timer_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.fairy-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.fairy-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: pink;
}

.can-toggle.psychic-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/9/9a/Dream_Dive_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.psychic-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.psychic-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(92, 29, 143);
}

.can-toggle.rock-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/7/7e/Dream_Luxury_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.rock-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.rock-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(211, 177, 41);
}

.can-toggle.ice-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/5/59/Dream_Dusk_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.ice-type input[type='checkbox']:checked ~ label .can-toggle__switch,
.can-toggle.ice-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(40, 211, 208);
}

.can-toggle.dragon-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch:after {
  transform: translate3d(72px, 0, 0);
  background-image: url('https://cdn2.bulbagarden.net/upload/0/0e/Dream_Heal_Ball_Sprite.png');
  background-size: cover;
}
.can-toggle.dragon-type
  input[type='checkbox']:checked
  ~ label
  .can-toggle__switch,
.can-toggle.dragon-type
  input[type='checkbox']:checked:hover
  ~ label
  .can-toggle__switch {
  background-color: rgb(76, 141, 173);
}

.none {
  display: none;
}

#dark {
  background-color: rgb(100, 94, 94);
  color: yellow;
  padding: 1rem;
  border-radius: 15px;
  margin-left: 1.5rem;
  margin-top: 2rem;
}
